<%- include("head"); %>

<style type="text/css">
  #chat-board {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
  }

  .chat-box {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0px 5px 0px;
  }
  
  .darker {
    background-color: #ddd;
  }

  .chat-content {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
</style>

<div style="padding-top:10px;" >
    <div class="col"><p class="h3" align="center"><strong>History</strong></p></div>
</div>

<div style="padding-top:10px; padding-bottom:10px; padding-left:30px; padding-right:30px;" >
  <div class="container-fluid" id="chat-board">
    <div id="messages" class="overflow-auto msgs" style="overflow-y: scroll;">
    </div>
  </div>
</div>

<script type="text/javascript" src="index.js"></script>
<script type="text/javascript">
  window.onload = async () => {
    const msgs = await loadHistory();
    for (let i = 0; i < msgs.length; i+= 1) {
      let scroll = false;
      if (i === msgs.length - 1) {
        scroll = true;
      }
      await addMsg(msgs[i], scroll);
    }
  };
  
  $(document).ready(() => {
    $(window).resize(() => {
      const bodyheight = window.innerHeight - 222;
      $("#messages").height(bodyheight);
    }).resize();
  });
</script>

<%- include("foot"); %>
