<%- include("head"); %>

<h1>Login</h1>
<form method="post" action="/login">
  <p>
    <label>Name:</label>
    <input type="text" name="username">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>

<%- include("foot"); %>